<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          Notícias
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Link img</th>
              <th>Título</th>
              <th>Descrição</th>
              <th>Tema</th>
              <th>Link</th>
              <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let news of newsList">
              <td><a href="{{news.img}}">URL IMG</a></td>
              <td>{{news.title}}</td>
              <td>{{news.description}}</td>
              <td>{{news.theme}}</td>
              <td><a href="https://niknicius.tk/news/url/{{news.link}}">Link Noticia</a></td>
              <td><div class="row"><i class="cui-trash icons font-2xl" (click)="deleteNews(news._id)"></i><i class="cui-pencil icons font-2xl" (click)="edit(news._id)"></i></div></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fab"  ontouchstart="">
  <button class="main" data-toggle="modal" (click)="newsModal.show()">
  </button>
</div>
<div bsModal #newsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="newsForm">
      <div class="modal-header">
        <h4 class="modal-title">Cadastro de Notícia</h4>
        <button type="button" class="close" (click)="newsModal.hide()" aria-label="Cancelar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Título</label>
            <input class="form-control" id="title" placeholder="Título da Notícia" type="text" formControlName="title"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="desc">Descrição</label>
              <input class="form-control" id="description" placeholder="Descrição curta da Notícia" type="text" formControlName="description">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="theme">Tema</label>
              <select id="theme" class="form-control" formControlName="theme">
                <option value="esportes">Esportes</option>
                <option value="politica">Política</option>
                <option value="entretenimento">Entretenimento</option>
                <option value="famosos">Famosos</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="img">Link Imagem</label>
              <input class="form-control" id="img" placeholder="Link da Imagem" type="text" formControlName="img">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="newsModal.hide()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
