<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-light-blue">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="cui-pencil icons"></i>
          </button>
          <div class="text-value">15</div>
          <div>Notícias Cadastradas</div>
          <div class="row"><br></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-cyan">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="cui-bookmark icons"></i>
          </button>
          <div class="text-value">5</div>
          <div>Categorias Cadastradas</div>
          <div class="row"><br></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="cui-lightbulb icons"></i>
          </button>
          <div class="text-value">Online</div>
          <div>Estado do BOT</div>
          <div class="row"><br></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-teal">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="cui-speech icons"></i>
          </button>
          <div class="text-value">52452</div>
          <div>Mensagens Enviadas</div>
          <div class="row"><br></div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          Notícias
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Link img</th>
              <th>Título</th>
              <th>Descrição</th>
              <th>Tema</th>
              <th>Link</th>
              <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let news of newsList">
              <td><a href="{{news.img}}">URL IMG</a></td>
              <td>{{news.title}}</td>
              <td>{{news.description}}</td>
              <td>{{news.theme}}</td>
              <td><a href="https://niknicius.tk/news/url/{{news.link}}">Link Noticia</a></td>
              <td><div class="row"><i class="cui-trash icons font-2xl" (click)="deleteNews(news._id)"></i><i class="cui-pencil icons font-2xl "></i></div></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fab"  ontouchstart="">
  <button class="main" data-toggle="modal" (click)="newsModal.show()">
  </button>
</div>
<div bsModal #newsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cadastro de Notícia</h4>
        <button type="button" class="close" (click)="newsModal.hide()" aria-label="Cancelar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Título</label>
            <input class="form-control" id="name" placeholder="Título da Notícia" type="text"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="desc">Descrição</label>
              <input class="form-control" id="desc" placeholder="Descrição curta da Notícia" type="text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="theme">Tema</label>
              <select id="theme" class="form-control">
                <option value="esportes">Esportes</option>
                <option value="politica">Política</option>
                <option value="entretenimento">Entretenimento</option>
                <option value="politica">Famosos</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="img">Link Imagem</label>
              <input class="form-control" id="img" placeholder="Link da Imagem" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="newsModal.hide()">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
